.hidden {
    display: none;
}

body {
    background-color: white;
    font-family: NSimSun;
    font-style: normal;
    font-weight: normal;
}

header {
    background-color: black;
    color: white;
    display: flex;
    height: 30vh;
    justify-content: flex-start;
    column-gap: 100px;
    align-items: flex-end;
    margin-bottom: 2vh; 
}

#themeBlock {
    background-color: black;
}

.theme {
    color: white;
    display: block;
    height: 5vh;
    display: flex;
    justify-content: center;
    column-gap: 100px;
    align-items: flex-end;
    margin-bottom: 7vh;

}

#evilDead{
    border-radius: 15px;
    color: rgb(214, 0, 0);

}

#twd {
    border-radius: 15px;
    color: rgb(78, 124, 78);
}

#themeText {
    color:rgb(214, 0, 0);
    font-size: 28px;
    display: flex;
    justify-content: center;
    
}
#question {
    margin-left: auto;
    margin-right: auto;
    width: 11em;
    
}


#questionButton {
    margin-top: 1vh;
    margin-left: auto;
    margin-right: auto;
    width: 4em;
    margin-bottom: 4vh;
    font-size: 15px;
}



#siteName {
    font-family: NSimSun;
    font-style: normal;
    font-weight: normal;
    font-size: 72px;
    line-height: 82px;
}

#logo {
    background-image: url("https://media.istockphoto.com/vectors/skull-and-crossbones-icon-on-white-background-vector-vector-id539681702?k=20&m=539681702&s=612x612&w=0&h=CWRAuCxpO1GuU8gujFzP7iKJdjgiDlxiBacakBx-jIY=");
    width: 15vw;
    height: 29vh;
    background-size: cover;
    background-repeat: no-repeat;
    margin-left: 10px;
    border-radius: 15px;
}